.container_icon {
    display: flex;
    justify-content: center;
}

.container_icon > span {
    font-size: 78px;
}

.produtosCardapio {
    display: flex;
    gap: 5%;
}

.produtoIndividual {
    background-color: white;
    width: 30%;
    border-radius: 12px;
    margin: 15px;
    padding: 15px;
    transition: 400ms;
}

.produtoIndividual:hover {
    transform: scale(1.1) rotateX(15deg) rotateY(15deg); /* Efeito 3D ao hover */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cardapio {
    margin: 35px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.produtoIndividual > h1 {
    font-size: 16px;
}

.produtoIndividual > p {
    font-size: 14px;
}

.container_title {
    display: flex;
}

.container_title > h1 {
    margin-top: 5px;
    background-color: white;
    padding: 5px 100px;
    border-radius: 10px;
    margin: 15px;
}

.containerTitlePrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.containerTitlePrincipal > h1 {
    text-align: center;
}
