.container1{
    width: 100%;
    height: 78px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    margin-top: 50px;

}
.dadosdopedido{
    color: #000;
    text-align: center;
    font-family: "Titillium Web";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   
}
.pai{
    display: flex;
    justify-content: space-evenly;

}
.container33{
    width: 532px;
    height: 950px;
    flex-shrink: 0;
    border-radius: 15px;
    bacaakground:aquamarine;
    margin-top: 50px;
}
.container2{
    width: 532px;
    height: 916px;
    flex-shrink: 0;
    border-radius: 15px;
    backgraaound: palegreen;
    margin-top: 50px;
}
main .img1{
    width: 115px;
    height: 150px;
    margin-top: 1px;
    margin-left: 17px;
    border-radius: 28px 20px 0px 0px;
    }
main .livro1{
    margin-top: 30px;
    margin-left: 30px;
}
main .livro1 .frente1{
    position: relative;
    /*margin-top: 20px;
    left: 50px;*/
    width: 132px;
    height: 163px; 
    border-radius: 50px 20px 20px 0px;
    border-radius: 3.125rem 1.25rem 1.25rem 0rem;
    background: #FA8B71;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
main .livro1 .inferior1{
    position: relative;
    /*margin-bottom: 10px;*/
    top: -15px;
    /*left: 48px;*/
    width: 132px;
    height: 28px; 
    border-radius: 20px 0px 10px 50px;
    background: #E85C3B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    z-index: 1;
}
main .livro1 .folhas1{
    position: relative;
    top: -50px;
    left: 10px;
    width: 117px;
    height: 16px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF6E0;  
    z-index: 1;
}
main .livro1 .marcador1{
    position: relative;
    top: -76px;
    left: 90px;
    width: 20px;
    height: 33px; 
    background: #FDBB13;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    z-index: 1;
}
.book{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: 15px;
    gap: 0px;
    opacity: 0px;
    font-family: Titillium Web;
    font-size: 32px;
    font-weight: 600;
    line-height: 48.67px;
    text-align: justify;
}
.nomeesobrenome{
    display: flex;
    justify-content: center;
    gap: 0px;
    opacity: 0px;
    font-family: Titillium Web;
    font-size: 32px;
    font-weight: 600;
    line-height: 48.67px;
    text-align: justify;
}
.banana1{
    display: flex;
    justify-content: center;
    align-content: center;
}
.diario1{
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    font-family: "Titillium Web";
    
}
.custo{
    color: #000;
    margin-top: 30px;
    margin-left: 25px;
    font-family: "Titillium Web";
}


.dados button{
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    margin-left: 10px;
    border-radius: 15px;
    background: black;
    color: white;
    margin-left: 50px;
}
.pay{
    margin-left: 30px;
    margin-top: 15px;
    gap: 0px;
    opacity: 0px;
    font-family: Titillium Web;
    font-size: 32px;
    font-weight: 600;
    line-height: 48.67px;
    text-align: justify;

}
.meusdados2{
    margin-left: 15px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 60px;
    border-radius: 0.9375rem;
    background: #FFF;   
    

}
.favoritos2{
    margin-left: 15px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 60px;
    border-radius: 0.9375rem;
    background: #FFF;   
}
.meuspedidos2{
    margin-left: 15px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 60px;
    border-radius: 0.9375rem;
    background: #FFF;
    text-align: justify; 

}

