@import url('../../padronizacao//padronizacao.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe a altura total da viewport */
}

main {
    flex: 1; /* Faz o conteúdo principal ocupar o espaço restante */
}

footer {
    background-color: var(--laranja);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    padding: 20px 0;
    width: 100%;

   

}

.cadastrarEmail {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.input-container input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border-radius: 10px;
}

.iconEmail {
    position: absolute;
    right: -5px; /* Espaçamento à direita do input */
    top: 50%;
    transform: translateY(-50%);
    color: rgb(75, 75, 75); /* Altere a cor do ícone se necessário */
    cursor: pointer;
    background-color: #F65E86;
    padding: 13.75px;
    border-radius: 0px 10px 10px 0px;
}

footer > div > h1 {
    font-size: var(--font-size-grande);
}

footer > div > p {
    font-size: var(--font-size-pequeno);
}

.container_socials > div {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.container_socials > div > img {
    width: 30px;
}
